@charset "UTF-8";
@font-face {
    font-family: 'idroid';
    src: url(fontes/idroid.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}
:root {
    --font-android: 'idroid', cursive;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    background-color: bisque;
}
h1 {
    margin: 0px;
    color: white;
}
h2 {
    margin: 0px;
    color: white;
}
p {
    text-align: justify;
    margin: 0px;
    padding: 0px;
    text-indent: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 1.5em;
}
header {
    background-image: linear-gradient(to bottom, #61c061, rgb(30, 32, 31));
    padding: 20px 0px 5px 0px;
}
header > h1{
    text-align: center;
    text-shadow: 0px 0px 5px #0000006b;
}
header > h2 {
    text-align: center;
    font-size: 1em;
    text-shadow: 0px 0px 5px #0000006b;
    width: 500px;
    margin: 25px auto;
}
nav > a {
    text-decoration: none;
    padding: 6px;
    color: lightgreen;
    border-radius: 4px;
    transition-duration: 0.5s;
}
nav > a:hover {
    background-color: #61c061;
}
main {
    height: 100%;
    margin: 0px auto 0px auto;
    background-color: rgb(255, 255, 255);
    max-width: 800px;
}
img {
    max-width: 100%;
}
aside {
    padding: 20px;
}
aside > h1 {
    color: #153A29;
    font: normal 1.5em 'idroid';
}
main > p {
    margin-top: 10px;
}
article {
    padding: 20px;
}
article > h1 {
    color: #153A29;
    font: normal 1.5em 'idroid';
}
article > h2 {
    font: normal 1.26em 'idroid';
    color: #126537;
    background-image: linear-gradient(to left, transparent, #90E4B4);
}
strong {
    color: #153A29;
}
.link {
    color: #153A29;
    background-color: #90E4B4;
    text-decoration: none;
    font-weight: bold;
}
.link::after {
    content: '🔗';
}
.bugdroid {
    display: block;
    margin: auto;
    max-width: 300px;
}
.video {
    border: 30px solid #153A29;
    margin: 0px -20px
}
.extra {
    background-color: #90E4B4;
    border-radius: 10px;
}
.extra > h1 {
    background-color: #153A29;
    padding: 5px;
    border-radius: 10px 10px 0px 0px;
}
.conteudo {
    padding: 10px 5px;
}
.conteudo > ul {
    list-style-position: inside;
    list-style-type: '\2714\00A0';
    padding: 0px;
    columns: 2;
}
footer {
    background-color: #153A29;
    text-align: center;
    padding: 4px;
}
footer > p {
    text-align: center;
    margin: 0px;
    color: white;
}
footer > p > strong{
    color: white;
    font-weight: bold;
}